@page "/"
@using BotControlPanel.App.Services
@inject BotService _botService

<h1>Control Panel</h1>

<button class="btn btn-danger" @onclick="KillContainers">Kill containers</button><br/><br/>

<button class="btn btn-success" @onclick='() => StartContainer("docbot")'>Start DocBot</button> 
<button class="btn btn-success" @onclick='() => StartContainer("dogbot")'>Start DogBot</button> 
<button class="btn btn-success" @onclick='() => StartContainer("colorbot")'>Start ColorBot</button>

@code
{
    private void KillContainers()
    {
        _botService.KillContainer("upbeat_vaughan");
        _botService.KillContainer("boring_panini");
        _botService.KillContainer("confident_brattain");
    }

    private void StartContainer(string name)
    {
        _botService.RunImage($"sgarberg/{name}");
    }
}
