@page "/"
@using BotControlPanel.App.Services
@inject BotService _botService

<h1>Control Panel</h1>
<hr/>

<div class="row">
    <div class="col-md-6">
      <div id="stats">
          <h2>Stats</h2>
          <p>Coming soon...</p>
      </div>
      <hr/>
      
      <div id="commands">
          <h2>Commands</h2>
          
          <h3>Stop Bot</h3>
          <button class="btn btn-lg btn-danger btn-block" @onclick="KillContainers">Stop All</button><br/>
          
          <h3>Start Bot</h3>
          <button class="btn btn-lg btn-success btn-block" @onclick='() => StartContainer("sgarberg/colorbot")'>Start ColorBot</button><br/>
          <button class="btn btn-lg btn-success btn-block" @onclick='() => StartContainer("sgarberg/docbot")'>Start DocBot</button><br/>
          <button class="btn btn-lg btn-success btn-block" @onclick='() => StartContainer("sgarberg/dogbot")'>Start DogBot</button><br/>
          <button class="btn btn-lg btn-success btn-block" @onclick='() => StartContainer("chrisplummer/meltybot")'>Start MeltyBot</button>
      </div>  
    </div>
</div>

@code
{
    private void KillContainers()
    {
        _botService.KillAllContainers();
    }

    private void StartContainer(string name)
    {
        _botService.RunImage(name);
    }
}
