@page "/"
@using BotControlPanel.App.Services
@inject BotService _botService

<h1>Control Panel</h1>
<hr/>

<div id="stats">
    <h2>Stats</h2>
    <p>Coming soon...</p>
</div>
<hr/>

<div id="commands">
    <h2>Commands</h2>
    
    <h3>Stop Bot</h3>
    <button class="btn btn-danger" @onclick="KillContainers">Kill All</button><br/><br/>
    
    <h3>Start Bot</h3>
    <button class="btn btn-success" @onclick='() => StartContainer("docbot")'>Start DocBot</button>
    <button class="btn btn-success" @onclick='() => StartContainer("dogbot")'>Start DogBot</button>
    <button class="btn btn-success" @onclick='() => StartContainer("colorbot")'>Start ColorBot</button>
</div>

@code
{
    private void KillContainers()
    {
        _botService.KillContainer("upbeat_vaughan");
        _botService.KillContainer("boring_panini");
        _botService.KillContainer("confident_brattain");
    }

    private void StartContainer(string name)
    {
        _botService.RunImage(name);
    }
}
