@page "/"
@using BotControlPanel.App.Services
@inject BotService _botService

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<butto class="btn btn-primary" @onclick="KillContainers">Kill containers</butto>

<button class="btn btn-primary" @onclick='() => StartContainer("docbot")'>Start DocBot</button>
<button class="btn btn-primary" @onclick='() => StartContainer("dogbot")'>Start DogBot</button>
<button class="btn btn-primary" @onclick='() => StartContainer("colorbot")'>Start ColorBot</button>

@code
{
    private void KillContainers()
    {
        _botService.KillContainer("upbeat_vaughan");
        _botService.KillContainer("boring_panini");
        _botService.KillContainer("confident_brattain");
    }

    private void StartContainer(string name)
    {
        _botService.RunImage($"sgarberg/{name}");
    }
}
